$strong_cyan: hsl(171, 66%, 44%);
$strong_cyan_inset: hsl(171, 67%, 38%);
$ligh-blue: hsl(233, 100%, 69%);
$ligh-blue-inset: hsl(233, 58%, 56%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayisg-blue: hsl(201, 11%, 66%);
$white: hsl(0, 100%, 100%);
$gray-footer: hsl(0, 0%, 96%);
